.header {
    width: 100%;
    background-size: cover;
    font-family: 'Merienda';
    padding-bottom: 2rem;
    height: 500px;
}

.header-main {
    background-image: url(../../images/main-bg.jpg);
}

.wrapper {
    display: flex;
    justify-content: center;
    margin: 0 auto;   
    color:#fff;
}

.header-title {
    font-size: 3rem;
    margin-top: 5rem;
}

.header-subtitle {
    width: 100%;
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

.header-btn {
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 12rem;
    height: 3rem;
    border-radius: 0.5rem;
    border: 1px solid #fff;
    background-color: transparent;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    line-height: 1;
    font-family: 'Merienda';
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

.header-btn:hover {
    background-color:#fff;
    color:#000;
    border: 1px solid #000;
    transition: 0.5s;
    animation: bounce 1s;
}

