@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;500;700&display=swap');

.nav-menu {
    display: flex;
    margin: 0 8rem;
    position: absolute;
    top:0;
    left: 0;
}

.nav-menu li {
  list-style: none;
}

.nav-menu-item {
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    padding: 50px 20px;
    font-family: 'Merienda';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-menu img {
    position:absolute;
    top: 10px;
    left: -30px;
    width: 50px;
    height: 50px;
}

  .nav-menu-item:hover {
    color: #f3a109;
    transition: 0.5s;
  }


  
  