.about-us {
    margin: 0 auto;
    width:45%;
    text-align: center;
}
.about-us-title {
    font-size: 1.5rem;
    margin-top: 2rem;
}
.about-us-descr {
    margin-top: 1rem;
    font-size: 1rem;
}