.footer {
    color: #000;
}

.footer-nav-menu {
    display: flex;
    justify-content: center;
    position: relative;
    
}

.footer-nav-menu li {
    list-style: none;
}

.footer-nav-menu-item {
    text-decoration: none;
    display: flex;
    padding: 50px 40px;
    font-family: 'Merienda';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}

.footer-nav-menu img {
    position: absolute;
    top: 20px;
    left: 350px;
    width: 40px;
    height: 40px;
}

  .footer-nav-menu-item:hover {
    color: #f3a109;
    transition: 0.5s;
  }

